@import 'imports/global';

.aui-layer {
    background-color: transparent;
    position: fixed;
    z-index: 3000;
    top: 100px; /* ADG default */

    height: 80%; /* Fallback for older browsers */
    #aui.height-calc("100% - 200px");
}

.aui-layer-centered-x {
    /* Assumes an explicit width is set */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.aui-layer[aria-hidden="true"] {
    display: none;
}

@aui-blanket-fade-time: 0.2s;
@aui-blanket-fade-delay: 0.1s;
.aui-blanket {
    #aui.transition.fadeOut(@aui-blanket-fade-time, @aui-blanket-fade-delay);

    background: #000;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2500;

    &[aria-hidden="false"] {
        #aui.transition.fadeIn(@aui-blanket-fade-time, @aui-blanket-fade-delay, 0.5);
    }
}
