@import '../theme/colors';

@aui-avatar-size-xxxlarge: 128px;
@aui-avatar-size-xxlarge: 96px;
@aui-avatar-size-xlarge: 64px;
@aui-avatar-size-large: 48px;
@aui-avatar-size-medium: 32px;
@aui-avatar-size-small: 24px;
@aui-avatar-size-xsmall: 16px;

@aui-avatar-project-border-color: @aui-color-ash-gray;
@aui-avatar-project-bg-color: @aui-color-white;
