@import '../theme/colors';
@import '../theme/text';

@aui-badge-bg-color: rgba(0, 0, 0, 0.2); // gives #ccc when on white, or a black tint when on other colors
// @aui-badge-bg-color: fade(#000, 20%); // LESS131
@aui-badge-text-color: @aui-text-color;
@aui-badge-on-blue-bg-color: rgba(255, 255, 255, 0.25); // outputs RGBA colour
// @aui-badge-on-blue-bg-color: fade(#fff, 25%); // LESS131
@aui-badge-on-blue-text-color: #fff;