@import '../theme/colors';

@aui-button-border-radius: 3.01px;
@aui-button-border-style: solid;
@aui-button-border-width: 1px;
@aui-button-font-size: 14px;
@aui-button-height: 2.1428571428571em;
@aui-button-padding-x: 10px;
@aui-button-padding-y: 4px;
@aui-button-width: 1.42857142857143;
@aui-button-disabled-border-color: @aui-color-ash-gray;

@aui-button-active-inner-shadow-x: 0;
@aui-button-active-inner-shadow-y: 3px;
@aui-button-active-inner-shadow-blur: 6px;
@aui-button-active-inner-shadow-spread: 0;
@aui-button-active-inner-shadow-color: rgba(0, 0, 0, 0.1);

@aui-button-default-bg-color: #f5f5f5;
@aui-button-default-hover-bg-color: #e9e9e9;
@aui-button-default-border-color: #ccc;
@aui-button-default-text-color: @aui-color-charcoal;

@aui-button-default-active-bg-color: @aui-button-default-bg-color;
@aui-button-default-active-border-color: #999;
@aui-button-default-active-text-color: #000;
@aui-button-default-active-icon-color: #707070;

@aui-button-default-disabled-bg-color: #f5f5f5;
@aui-button-default-disabled-border-color: #ddd;
@aui-button-default-disabled-text-color: #999;
@aui-button-default-disabled-icon-color: #cccccc;

@aui-button-light-bg-color: @aui-color-white;

@aui-button-primary-bg-color: @aui-color-bright-blue-1;
@aui-button-primary-border-color: transparent;
@aui-button-primary-text-color: #fff;

@aui-button-primary-hover-bg-color: #2a67a5;
@aui-button-primary-active-bg-color: @aui-button-primary-bg-color;
@aui-button-primary-active-border-color: transparent;
@aui-button-primary-active-text-color: #fff;
@aui-button-primary-active-icon-color: #fff;
@aui-button-primary-dropdown2-split-color: @aui-color-white;

@aui-button-primary-disabled-bg-color: #9cbad9;
@aui-button-primary-disabled-border-color: transparent;
@aui-button-primary-disabled-text-color: #fff;
@aui-button-primary-disabled-icon-color: #fff;

@aui-button-grouped-primary-active-border-color: #999;
@aui-button-grouped-primary-active-text-color: @aui-color-blue;

@aui-button-grouped-primary-disabled-bg-color: #fff;
@aui-button-grouped-primary-disabled-border-color: #ccc;
@aui-button-grouped-primary-disabled-icon-color: #ccc;
@aui-button-grouped-primary-disabled-text-color: #9dbbd9;

@aui-button-grouped-selected-bg-color: #ccc;

@aui-button-grouped-default-disabled-icon-color: #ccc;

@aui-button-subtle-text-color: @aui-color-medium-gray;
@aui-button-subtle-dropdown2-trigger-arrow-color: @aui-color-gray;
@aui-button-primary-split-border-color: #1f4d7d;

@aui-button-subtle-border-color: @aui-color-ash-gray;

// ### Split buttons
@aui-button-split-separator-default-color: @aui-color-ash-gray;
@aui-button-split-separator-primary-color: @aui-color-white;
@aui-button-split-separator-edge: 4px;