@import '../theme/colors';
@import '../theme/text';
@import '../theme/links';

@aui-datepicker-day-bg-color: @aui-color-white;
@aui-datepicker-day-text-color: @aui-text-color;
@aui-datepicker-today-bg-color: @aui-link-color;
@aui-datepicker-today-text-color: @aui-datepicker-day-bg-color;
@aui-datepicker-unselectable-text-color: @aui-color-medium-gray;
@aui-datepicker-outline-color: @aui-color-medium-gray;
@aui-datepicker-disabled-text-color: @aui-color-medium-gray;
