@import '../theme/colors';
@import '../theme/text';

@aui-dropdown2-bg-color: @aui-color-white;
@aui-dropdown2-border-color: @aui-color-ash-gray;
@aui-dropdown2-trigger-color: @aui-text-color;
@aui-dropdown2-trigger-active-color: @aui-color-white;
@aui-dropdown2-disabled-text-color: @aui-color-ash-gray;
@aui-dropdown2-trigger-disabled-color: @aui-dropdown2-disabled-text-color;

@aui-dialog2-footer-bg-color: @aui-color-light-gray;
@aui-dialog2-footer-hint-text-color: @aui-color-medium-gray;
@aui-dialog2-header-warning-bg-color: @aui-color-red;
@aui-dialog2-header-warning-text-color: @aui-color-white;
@aui-dialog-header-close-icon-color: @aui-color-medium-gray;
@aui-dialog2-padding: 20px;