@import '../theme/colors';
@import '../theme/text';

@aui-notification-error-color: @aui-color-red;
@aui-notification-error-text-color: @aui-color-white;

@aui-notification-info-color: @aui-color-white;
@aui-notification-info-border-color: @aui-color-ash-gray;
@aui-notification-info-icon-color: @aui-color-gray;
@aui-notification-info-text-color: @aui-color-charcoal;
@aui-notification-info-link-color: @aui-color-bright-blue-1;

@aui-notification-success-color: @aui-color-green;

@aui-notification-arrow-border: 1px;

@aui-notification-arrow-size: 6px;
@aui-notification-arrow-and-border-size: @aui-notification-arrow-size + @aui-notification-arrow-border;
@aui-notification-arrow-bottom-right-position: 10px;

@aui-notification-tipsy-padding: 4px;
@aui-notification-tipsy-inner-padding: 10px;

@aui-notification-list-padding: 20px;

@aui-notification-icon-outside-field-offset-top: 4px;
@aui-notification-icon-outside-field-offset-right: 2px;

@aui-notification-icon-outside-field-width: 16px;
@aui-notification-icon-outside-field-padding-left: 6px;
@aui-notification-icon-outside-field-padding-right: 6px;
@aui-notification-icon-outside-field-padding-top: 7px;

@aui-notification-line-height: unit(18px / @aui-font-size-medium);