@import '../theme/colors';
@import '../theme/text';

@aui-form-placeholder-text-color: @aui-color-gray;
@aui-form-label-text-color: @aui-color-medium-gray;
@aui-form-error-text-color: @aui-color-red;
@aui-form-description-text-color: @aui-color-medium-gray;
@aui-form-disabled-field-bg-color: @aui-color-light-gray;
@aui-form-disabled-field-text-color: @aui-color-gray;
@aui-form-disabled-field-label-color: @aui-color-gray;
@aui-form-field-border-color: @aui-color-ash-gray;
@aui-form-input-text-bg-color: @aui-color-white;
@aui-form-optgroup-text-color: @aui-color-medium-gray;
@aui-form-optgroup-bg-color: @aui-color-light-gray;
@aui-form-option-bg-color: @aui-color-white;
@aui-form-pre-bg-color: @aui-color-light-gray;

@aui-form-field-width-short: 75px;
@aui-form-field-width-medium: 165px;
@aui-form-field-width-medium-long: 350px;
@aui-form-field-width-long: 500px;
@aui-form-field-width-full: none;
@aui-form-field-height: unit(30px / @aui-font-size-medium, em); /* 30px - using ems so the fields increase in line with user specified font-sizes */