@import '../theme/colors';
@import '../theme/borders';
@import '../theme/grid';
@import 'buttons';

@aui-header-bg-color: @aui-color-blue;
@aui-header-text-color: @aui-color-white;
@aui-header-border-color: #2e3D54;
@aui-header-border-style: @aui-border-style;
@aui-header-border-width: @aui-border-width;
@aui-header-padding-x: @aui-grid;
@aui-header-padding-y: 0;

@aui-header-link-text-color: @aui-header-text-color;
@aui-header-link-padding-x: @aui-grid;
@aui-header-link-padding-y: 13px;
@aui-header-link-active-bg-color: @aui-color-bright-blue-1;

@aui-header-btn-primary-bg-color: @aui-button-primary-bg-color;
@aui-header-btn-primary-active-bg-color: @aui-button-primary-active-bg-color;
@aui-header-btn-primary-hover-bg-color: @aui-button-primary-hover-bg-color;

@aui-header-nav-btn-primary-bg-color: @aui-button-primary-bg-color;
@aui-header-nav-btn-primary-line-height: 1.57142857142857;
@aui-header-nav-btn-primary-text-color: @aui-color-white;
@aui-header-nav-btn-primary-hover-bg-color: @aui-button-primary-hover-bg-color;
@aui-header-nav-btn-primary-hover-text-color: @aui-header-nav-btn-primary-text-color;
@aui-header-nav-btn-primary-active-bg-color: @aui-button-primary-active-bg-color;

@aui-header-logo-height: 40px;
@aui-header-logo-padding-x: @aui-grid;
@aui-header-logo-padding-y: 0;

@aui-header-img-padding-x: 0;
@aui-header-img-padding-y: (@aui-grid / 2);
@aui-header-img-height: (@aui-header-logo-height - @aui-grid);

@aui-header-logo-device-height: 24px;
@aui-header-logo-device-padding-x: 0;
@aui-header-logo-device-padding-y: 8px;

@aui-header-logo-text-font-size: 14px;
@aui-header-logo-text-line-height: 1.4286;
@aui-header-logo-textonly-device-padding: 4px;

@aui-header-quicksearch-bg-color: @aui-color-light-gray;
@aui-header-quicksearch-color: @aui-color-charcoal;
@aui-header-quicksearch-focus-color: @aui-color-white;
@aui-header-quicksearch-width: 170px;
@aui-header-quicksearch-placeholder-color: @aui-color-medium-gray;