@import '../theme/colors';

@aui-label-text-color: @aui-color-bright-blue-1;
@aui-label-bg-color: @aui-color-light-gray;
@aui-label-hover-border-color: @aui-color-medium-gray;
@aui-label-border-color: @aui-color-ash-gray;