@import '../theme/colors';
@import '../theme/text';

@aui-nav-text-color: @aui-text-color;
@aui-nav-heading-text-color: @aui-color-medium-gray;
@aui-nav-link-selected-text-color: @aui-nav-text-color;
@aui-nav-link-active-bg-color: #e6e6e6;
@aui-nav-link-color: @aui-color-bright-blue-1;
@aui-nav-link-spacing-horizontal: 10px;
@aui-nav-link-spacing-vertical: 7px;
@aui-nav-group-divider-color: @aui-color-ash-gray;
@aui-nav-subtree-line-color: @aui-color-ash-gray;
@aui-nav-subtree-toggle-icon-color: @aui-color-gray;
@aui-nav-subtree-indicator-width: 1px;
@aui-nav-item-actions-dropdown-trigger-hover-color: @aui-color-ash-gray;

// Actions lists
@aui-nav-actions-list-margin-top: 10px;
@aui-nav-actions-list-item-font-size: @aui-font-size-medium;
@aui-nav-actions-list-item-margin-bottom: 5px;
@aui-nav-actions-list-item-margin-right: 10px;

// ### Paginated

@aui-nav-pagination-text-color: @aui-text-color;
@aui-nav-pagination-active-text-color: @aui-color-gray;


// ### Groups

@aui-navgroup-horizontal-bg-color: @aui-color-light-gray;