@import '../theme/colors';
@import '../theme/links';

@aui-progress-tracker-step-border-color: @aui-color-light-gray;
@aui-progress-tracker-inverted-step-border-color: @aui-color-white;
@aui-progress-tracker-container-color: @aui-color-light-gray;
@aui-progress-tracker-complete-color: @aui-link-color;
@aui-progress-tracker-incomplete-color: @aui-color-ash-gray;
@aui-progress-tracker-incomplete-text-color: @aui-color-medium-gray;


// ### Inverted

@aui-progress-tracker-inverted-container-color: @aui-color-white;