@import '../theme/colors';
@import '../theme/text';

@aui-tabs-tab-bg-color: @aui-color-silver;
@aui-tabs-tab-border-color: @aui-color-ash-gray;
@aui-tabs-tab-text-color: @aui-text-color;

@aui-tabs-tab-hover-bg-color: @aui-color-white;
@aui-tabs-tab-hover-text-color: @aui-text-color;

@aui-tabs-tab-active-bg-color: @aui-color-white;
@aui-tabs-tab-active-text-color: @aui-text-color;

@aui-tabs-font-size: @aui-font-size-medium;