@import '../theme/colors';

@aui-tooltip-bg-color: rgba(51, 51, 51, 0.9);
@aui-tooltip-border-color: rgba(51, 51, 51, 0.9);
@aui-tooltip-content-text-color: @aui-color-ash-gray;
@aui-tooltip-title-text-color: @aui-color-white;


// ### Success

@aui-lozenge-success-text-color: @aui-color-white;


// ### Error

@aui-lozenge-error-text-color: @aui-color-white;


// ### Complete

@aui-lozenge-complete-text-color: @aui-color-white;


// ### Moved

@aui-lozenge-moved-text-color: @aui-color-white;